<div class="list row">
	<div class="col-md-6">
		<h4>Applications List</h4>
		<ol class="list-group">
			<li class="list-group-item" *ngFor="let application of applications; let i = index"
				[class.active]="i == currentIndex" (click)="setActiveApplication(application, i)">
				{{ application.data }}
			</li>
		</ol>

		<button class="m-3 btn btn-sm btn-danger" (click)="goToAddApplications()">
			Add
		</button>
	</div>
	<div class="col-md-6">
		<div *ngIf="currentApplication">
			<h4>Application</h4>
			<div>
				<label><strong>Data:</strong></label> {{ currentApplication.data }}
			</div>
			<div>
				<label><strong>Calibrator Id:</strong></label>
				{{ currentApplication.calibratorId }}
			</div>
			<div>
				<label><strong>Department Id:</strong></label>
				{{ currentApplication.departmentId }}				
			</div>
			<div>
				<a class="badge badge-warning" routerLink="/applications/{{ currentApplication.id }}">
					Edit
				</a>
			</div>
		</div>

		<div *ngIf="!currentApplication">
			<br />
			<p>Please click on a Application...</p>
		</div>
	</div>
</div>